h1 {
    color: red;
}

/*Esta é uma regra CSS3*/


.link{
    display: inline;
    margin: 5%;
}

.cabecalho{
    background-color: blue;
}

.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links {
    font-weight: bold;
}

.container {
    margin: 20px;
}

#conteudo {
    line-height: 1.5;
}

.formulario_contato {
    border: solid 1px gray ;
    padding: 10px;
}

p {
    background-color: green;
}

button {
    background-color: blue;
    color: white;
}

#rodape {
    border-top: 2px solid red;
}