.cabecalho{
    background-color: blue;
}

.titulos{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links {
    font-weight: bold;
}

.container {
    margin: 20px;
}

#conteudo {
    line-height: 1.5;
}